/* Header */
body{
    font-family: 'Poppins', sans-serif;
}
header{
    padding-top:30px;
    padding-bottom:28px;
}

header .row{
    justify-content: space-between;
}

header nav{
    width: 675px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;    
}

header nav a{
    color: #5B5B5B;
    font-size: 22px;
    font-weight: 400;
}

header .account {
    display: flex;
    align-items: center;
    gap: 12px;
}

header .account .name{
   color: #000000;
    font-size: 18px;
    font-weight: 500;
}


/* WelcomBack */
.WelcomBack{
    margin-bottom: 82px;
}
.WelcomBack .container{
    background-color: rgba(157, 204, 255, 0.2);
    overflow: hidden;
}
.WelcomBack .welcom{
    margin: 52px 120px 50px 18px;
}
.WelcomBack .welcom .row{
    justify-content: space-between;
}
.WelcomBack .welcom h2{
   color:#252641;
    font-size: 36px;
    font-weight: 600;
}

.WelcomBack .welcom a{
    color:#49BBBD;
    font-size: 20px;
    font-weight: 700;
}

.WelcomBack .row{
    display: flex;
    align-items: center;
}
.WelcomBack .cards{
    margin :0px 65.5px 155px 65.5px;
}
.WelcomBack .cards .row{
    gap: 50px;
}

.WelcomBack .card{
    padding: 19.6px 21px 12px 21px;
    width:calc( ( 100% - 100px ) / 3);
    border-radius: 20px;
    background-color: #FFFFFF;
}
.WelcomBack .cards .card>img{
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.WelcomBack .card h4{
    font-size: 24px;
    margin-left: 4px;
    margin-bottom: 10px;
    font-weight: 500;
    color:#252641;
}

.WelcomBack .card .row{
   gap: 15px;
   margin-left: 4px;
   margin-bottom: 25px;
}

.WelcomBack .card .row a{
    font-size: 18px;
    color:#000000;
    font-weight: 500;
}

.WelcomBack .cards .progress{
    width: calc(100% - 4px);
    height: 8px;
    margin-left: 4px;
    border-radius: 2px;
    background-color: #D9D9D9;
}

.WelcomBack .cards .progress .progress-bar{
    width: 77%;
    height: 8px;
    background-color: #49BBBD;
}

.WelcomBack .card p{
    font-size: 14px;
    margin-right: 4px;
    text-align: right;
    color:#00000080;
    font-weight: 600;
}


/* courses */
.courses{
    margin-bottom: 95px;
}
.courses h2{
    margin-bottom: 53px;
    font-size: 36px;
    font-weight: 600;
    color:#252641;
}

.courses .row {
    column-gap: 88.07px;
    row-gap: 80px;
}
.courses .course{
    width: calc((100% - 264.21px) / 4);
    border-radius: 20px;
    box-shadow: 0px 18.83px 47.08px 0px rgba(47, 50, 125, 0.1);
    text-align: center;
    background-color: #FFFFFF;
}

.courses .course .course-img{
    padding: 27px 33.03px 28px 33.03px;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 99.08px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.courses .course h4{
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 600;
    color:#000000;
}

.courses .course p{
    font-size: 18px;
    margin: 0 53.23px 59px 53.23px;
    color:#696984;
    font-weight: 400;
}

.courses .design .course-img{
    background-color:rgba(73, 187, 189, 0.3);
}

.courses .development .course-img{
    background-color:rgba(91, 114, 238, 0.3);
}

.courses .development2 .course-img{
    background-color:rgba(157, 204, 255, 0.3)
}

.courses .business .course-img{
    background-color:rgba(0, 203, 184, 0.3);
}

.courses .marketing .course-img{
    background-color:rgba(244, 140, 6, 0.3);
}

.courses .photography .course-img{
    background-color:rgba(238, 100, 91, 0.3);
}

.courses .acting .course-img{
    background-color:rgba(37, 38, 65, 0.3);
}


/* MENU */
@media screen and (max-width:729.99px) {
    header nav {
        display: none;
    }     
}
@media screen and (min-width:730px) {
    header .menu-btn{
        display: none;
    }   
}


/* 300->399.99 */ 
@media screen and (min-width:300px) and (max-width:399.99px) {
    .container{
        width: calc(100% - 50px);
    }
    
    header{
        padding-top:18px;
        padding-bottom:15px;
    }

    header .menu{
        width: 35px;
    }

    header .logo{
        width: 70px;
    }

    header .account {
        gap: 9px;
    }

    header .account img{
        width: 45px;
    }
   
    header .account .name{
        font-size: 16px;
    }

     .WelcomBack .welcom{
        margin: 28px 18px 30px;
    }

    .WelcomBack .welcom h2{
        font-size: 22px;
    }

    .WelcomBack .welcom a{
        font-size: 15px;
    }

    .WelcomBack .cards{
        margin: 0 18px 40px;
    }

    .WelcomBack .card{
        width: 100%;
        padding: 19.6px 21px 12px 21px;
        border-radius: 12px;
    }

    .WelcomBack .card h4{
        font-size: 15px;
    }

    .WelcomBack .card .row{
        gap: 6px;
    }

    .WelcomBack .card .row a{
        font-size: 13px;
    }

    .WelcomBack .card .row img{
        width: 30px;
    }

    .courses{
        margin-bottom: 45px;
    }

    .courses h2{
    margin-bottom: 20px;
    font-size: 18px;
    }

    .courses .row {
        row-gap: 50px;
    }
    .courses .course{
        width: 100%;
    }

    .courses .course .course-img{
        padding: 20px 20px 21px 20px;
        margin-bottom: 16px;
        margin-top: 22px;
        width: 80px;
    }

    .courses .course h4{
        font-size: 20px;
        margin-bottom: 22px;
    }

    .courses .course p{
        font-size: 16px;
        margin: 0 30px 48px 30px;
    }
}


/* 400->624.99 */ 
@media screen and (min-width:400px) and (max-width:624.99px) {
    .container{
        width: calc(100% - 70px);
    }

    header{
        padding-top:20px;
        padding-bottom:17px;
    }

    header .menu{
        width: 40px;
    }

    header .logo{
        width: 80px;
    }

    header .account {
        gap: 10px;
    }

    header .account img{
        width: 50px;
    }
   
    header .account .name{
        font-size: 16px;
    }

    .WelcomBack .welcom{
        margin: 28px 18px 30px;
    }

    .WelcomBack .welcom .row{
        gap: 12px;
    }

    .WelcomBack .welcom h2{
        font-size: 22px;
    }

    .WelcomBack .welcom a{
        font-size: 15px;
        white-space: nowrap;
    }

    .WelcomBack .cards{
        margin: 0 18px 40px;
    }
    

    .WelcomBack .card{
        width: 100%;
        padding: 16px;
        border-radius: 12px;
    }

    .WelcomBack .card h4{
        font-size: 20px;
    }

    .WelcomBack .card .row{
        gap: 8px;
    }

    .WelcomBack .card .row a{
        font-size: 16.5px;
    }

    .WelcomBack .card .row img{
        width: 37px;
    }

    .courses{
        margin-bottom: 48px;
    }

    .courses h2{
    margin-bottom: 20px;
    font-size: 20px;
    }

    .courses .row {
        row-gap: 55px;
    }
    .courses .course{
        width: 100%;
    }

    .courses .course .course-img{
        padding: 20px 20px 21px 20px;
        margin-bottom: 17px;
        margin-top: 22.5px;
        width: 80px;
    }

    .courses .course h4{
        font-size: 20px;
        margin-bottom: 22px;
    }

    .courses .course p{
        font-size: 16px;
        margin: 0 42px 48px 42px;
    }
}

/* 625->729.99 */ 
@media screen and (min-width:625px) and (max-width:729.99px) {
    .container{
        width: calc(100% - 70px);
    }

    header{
        padding-top:20px;
        padding-bottom:17px;
    }

    header .menu{
        width: 40px;
    }

    header .logo{
        width: 80px;
    }

    header .account {
        gap: 10px;
    }

    header .account img{
        width: 50px;
    }
   
    header .account .name{
        font-size: 16px;
    }

   .WelcomBack .welcom{
        margin: 36px 32px 34px;
    }

    .WelcomBack .welcom h2{
        font-size: 27px;
    }

    .WelcomBack .welcom a{
        font-size: 17px;
    }

    .WelcomBack .cards{
        margin: 0 32px 70px;
    }

    .WelcomBack .cards .row{
        gap: 24px;
    }

    .WelcomBack .card{
        width: calc((100% - 24px) / 2);
        min-width: 0;
        padding: 16px;
        border-radius: 14px;
    }

    .WelcomBack .card h4{
        font-size: 17px;
    }

    .WelcomBack .card .row{
        gap: 8px;
    }

    .WelcomBack .card .row a{
        font-size: 16px;
    }

    .WelcomBack .card .row img{
        width: 35px;
    }

    .courses{
        margin-bottom: 51px;
    }

    .courses h2{
    margin-bottom: 21px;
    font-size: 21px;
    }

    .courses .row {
        column-gap: 30px;
        row-gap: 60px;
    }
    .courses .course{
        width: calc((100% - 30px) / 2);
    }

    .courses .course .course-img{
        padding: 20px 20px 21px 20px;
        margin-bottom: 17px;
        margin-top: 23px;
        width: 82px;
    }

    .courses .course h4{
        font-size: 20px;
        margin-bottom: 22px;
    }

    .courses .course p{
        font-size: 16px;
        margin: 0 42px 45px 42px;
    }
}


/* 730->819.99 */ 
@media screen and (min-width:730px) and (max-width:819.99px) {
    .container{
        width: calc(100% - 120px);
    }
    header{
        padding-top:22px;
        padding-bottom:19px;
    }

    header .logo{
        width: 65px;
    }

    header nav{
        width: 450px;
        gap: 30px;    
    }

    header nav a{
        font-size: 14px;
    }
    
    header .account {
        gap: 7.5px;
    }

    header .account img{
        width: 36px;
    }
   
    header .account .name{
        font-size: 12px;
    }

    .WelcomBack .welcom{
        margin: 36px 32px 34px;
    }

    .WelcomBack .welcom h2{
        font-size: 24px;
    }

    .WelcomBack .welcom a{
        font-size: 13px;
    }

    .WelcomBack .cards{
        margin: 0 32px 70px;
    }

    .WelcomBack .cards .row{
        gap: 24px;
    }

    .WelcomBack .card{
        width: calc((100% - 24px) / 2);
        min-width: 0;
        padding: 16px;
        border-radius: 14px;
    }

    .WelcomBack .card h4{
        font-size: 18px;
    }

    .WelcomBack .card .row{
        gap: 8px;
    }

    .WelcomBack .card .row a{
        font-size: 16px;
    }

    .WelcomBack .card .row img{
        width: 35px;
    }

    .courses{
        margin-bottom: 51px;
    }

    .courses h2{
    margin-bottom: 21px;
    font-size: 22.5px;
    }

    .courses .row {
        column-gap: 40px;
        row-gap: 62px;
    }
    .courses .course{
        width: calc((100% - 40px) / 2);
    }

    .courses .course .course-img{
        padding: 21px 21px 21px 21px;
        margin-bottom: 18px;
        margin-top: 23px;
        width: 84px;
    }

    .courses .course h4{
        font-size: 20px;
        margin-bottom: 22px;
    }

    .courses .course p{
        font-size: 16px;
        margin: 0 47px 45.5px 47px;
    }
}

/* 820->914.99 */ 
@media screen and (min-width:820px) and (max-width:914.99px) {
    .container{
        width: calc(100% - 140px);
    }
    header{
        padding-top:25px;
        padding-bottom:23px;
    }

    header .logo{
        width: 74px;
    }

    header nav{
        width: 500px;
        gap: 58px;    
    }

    header nav a{
        font-size: 16px;
    }
    
    header .account {
        gap: 8.2px;
    }

    header .account img{
        width: 45px;
    }
   
    header .account .name{
        font-size: 13.5px;
    }

    .WelcomBack .welcom{
        margin: 36px 32px 34px;
    }

    .WelcomBack .welcom h2{
        font-size: 24px;
    }

    .WelcomBack .welcom a{
        font-size: 13px;
    }

    .WelcomBack .cards{
        margin: 0 32px 70px;
    }

    .WelcomBack .cards .row{
        gap: 24px;
    }

    .WelcomBack .card{
        width: calc((100% - 24px) / 2);
        min-width: 0;
        padding: 16px;
        border-radius: 14px;
    }

    .WelcomBack .card h4{
        font-size: 19px;
    }

    .WelcomBack .card .row{
        gap: 9px;
    }

    .WelcomBack .card .row a{
        font-size: 16px;
    }

    .WelcomBack .card .row img{
        width: 38px;
    }

    .courses{
        margin-bottom: 51px;
    }
    .courses h2{
    margin-bottom: 21px;
    font-size: 23px;
    }

    .courses .row {
        column-gap: 53px;
        row-gap: 62px;
    }
    .courses .course{
        width: calc((100% - 53px) / 2);
    }

    .courses .course .course-img{
        padding: 21px 21px 21px 21px;
        margin-bottom: 18px;
        margin-top: 24px;
        width: 85px;
    }

    .courses .course h4{
        font-size: 20px;
        margin-bottom: 22px;
    }

    .courses .course p{
        font-size: 16px;
        margin: 0 47px 45.5px 47px;
    }
}

/* 915->949.99 */
@media screen and (min-width:915px) and (max-width:949.99px) {
    .container{
        width: calc(100% - 170px);
    }
    header{
        padding-top:26px;
        padding-bottom:24px;
    }

    header .logo{
        width: 85px;
    }

    header nav{
        width: 535px;
        gap: 60px;    
    }

    header nav a{
        font-size: 16px;
    }
    
    header .account {
        gap: 9px;
    }

    header .account img{
        width: 47px;
    }
   
    header .account .name{
        font-size: 14.5px;
    }

    .WelcomBack .welcom{
        margin: 36px 32px 34px;
    }

    .WelcomBack .welcom h2{
        font-size: 27px;
    }

    .WelcomBack .welcom a{
        font-size: 17px;
    }

    .WelcomBack .cards{
        margin: 0 32px 70px;
    }

    .WelcomBack .cards .row{
        gap: 24px;
    }

    .WelcomBack .card{
        width: calc((100% - 24px) / 2);
        min-width: 0;
        padding: 16px;
        border-radius: 14px;
    }

    .WelcomBack .card h4{
        font-size: 19.5px;
    }

    .WelcomBack .card .row{
        gap: 10px;
    }

    .WelcomBack .card .row a{
        font-size: 16px;
    }

    .WelcomBack .card .row img{
        width: 38px;
    }

    .courses{
        margin-bottom: 54px;
    }
    .courses h2{
    margin-bottom: 25px;
    font-size: 23px;
    }

    .courses .row {
        column-gap: 60px;
        row-gap: 62px;
    }
    .courses .course{
        width: calc((100% - 60px) / 2);
    }

    .courses .course .course-img{
        padding: 21px 21px 21px 21px;
        margin-bottom: 18.5px;
        margin-top: 24px;
        width: 85px;
    }

    .courses .course h4{
        font-size: 20px;
        margin-bottom: 22px;
    }

    .courses .course p{
        font-size: 16px;
        margin: 0 50px 45.5px 50px;
    }
}

/* 950->1014.99 */
@media screen and (min-width:950px) and (max-width:1014.99px) {
    .container{
        width: calc(100% - 180px);
    }
    header{
        padding-top:26.5px;
        padding-bottom:24.5px;
    }

    header .logo{
        width: 86px;
    }

    header nav{
        width: 570px;
        gap: 65px;    
    }

    header nav a{
        font-size: 17px;
    }
    
    header .account {
        gap: 10px;
    }

    header .account img{
        width: 50px;
    }
   
    header .account .name{
        font-size: 15px;
    }

    .WelcomBack .welcom{
        margin: 36px 32px 34px;
    }

    .WelcomBack .welcom h2{
        font-size: 27px;
    }

    .WelcomBack .welcom a{
        font-size: 17px;
    }

    .WelcomBack .cards{
        margin: 0 32px 70px;
    }

    .WelcomBack .cards .row{
        gap: 24px;
    }

    .WelcomBack .card{
        width: calc((100% - 24px) / 2);
        min-width: 0;
        padding: 16px;
        border-radius: 14px;
    }

    .WelcomBack .card h4{
        font-size: 21px;
    }

    .WelcomBack .card .row{
        gap: 10.5px;
    }

    .WelcomBack .card .row a{
        font-size: 17px;
    }

    .WelcomBack .card .row img{
        width: 39px;
    }

    .courses{
        margin-bottom: 58px;
    }
    .courses h2{
    margin-bottom: 30px;
    font-size: 26px;
    }

    .courses .row {
        column-gap: 65px;
        row-gap: 62px;
    }
    .courses .course{
        width: calc((100% - 65px) / 2);
    }

    .courses .course .course-img{
        padding: 22px 22px 22px 22px;
        margin-bottom: 19px;
        margin-top: 25px;
        width: 86px;
    }

    .courses .course h4{
        font-size: 20px;
        margin-bottom: 22px;
    }

    .courses .course p{
        font-size: 16px;
        margin: 0 50px 45.5px 50px;
    }
}

/* 1015->1079.99 */
@media screen and (min-width:1015px) and (max-width:1079.99px) {
    .container{
        width: calc(100% - 190px);
    }
    header{
        padding-top:27px;
        padding-bottom:25px;
    }

    header .logo{
        width: 102px;
    }

    header nav{
        width: 600px;
        gap: 73px;    
    }

    header nav a{
        font-size: 18px;
    }
    
    header .account {
        gap: 10px;
    }

    header .account img{
        width: 53px;
    }
   
    header .account .name{
        font-size: 16px;
    }

    .WelcomBack .welcom{
        margin: 36px 32px 34px;
    }

    .WelcomBack .welcom h2{
        font-size: 27px;
    }

    .WelcomBack .welcom a{
        font-size: 17px;
    }

    .WelcomBack .cards{
        margin: 0 32px 70px;
    }

    .WelcomBack .cards .row{
        gap: 24px;
    }

    .WelcomBack .card{
        width: calc((100% - 24px) / 2);
        min-width: 0;
        padding: 16px;
        border-radius: 14px;
    }

    .WelcomBack .card h4{
        font-size: 21px;
    }

    .WelcomBack .card .row{
        gap: 10.5px;
    }

    .WelcomBack .card .row a{
        font-size: 17px;
    }

    .WelcomBack .card .row img{
        width: 39px;
    }

    .courses{
        margin-bottom: 60px;
    }
    .courses h2{
    margin-bottom: 35px;
    font-size: 30px;
    }

    .courses .row {
        column-gap: 73px;
        row-gap: 65px;
    }
    .courses .course{
        width: calc((100% - 73px) / 2);
    }

    .courses .course .course-img{
        padding: 22px 22px 22px 22px;
        margin-bottom: 20px;
        margin-top: 28px;
        width: 87px;
    }

    .courses .course h4{
        font-size: 20px;
        margin-bottom: 22px;
    }

    .courses .course p{
        font-size: 16px;
        margin: 0 55px 48px 55px;
    }
}

/* 1080->1190 */
@media screen and (min-width:1080px) and (max-width:1190.99px) {
    .container{
        width: calc(100% - 210px);
    }
    header{
        padding-top:28px;
        padding-bottom:26px;
    }
    header .logo{
        width: 108px;
    }

    header nav{
        width: 620px;
        gap: 73px;    
    }

    header nav a{
        font-size: 20px;
    }
    
    header .account {
        gap: 10px;
    }

    header .account img{
        width: 57px;
    }
   
    header .account .name{
        font-size: 16px;
    }

    .WelcomBack .welcom{
        margin: 42px 50px 40px;
    }

    .WelcomBack .welcom h2{
        font-size: 30px;
    }

    .WelcomBack .cards{
        margin: 0 40px 90px;
    }

    .WelcomBack .cards .row{
        gap: 24px;
    }

    .WelcomBack .card{
        width: calc((100% - 48px) / 3);
        min-width: 0;
        padding: 16px;
        border-radius: 16px;
    }

    .WelcomBack .card h4{
        font-size: 20px;
    }

    .WelcomBack .card h4{
        font-size: 21px;
    }

    .WelcomBack .card .row{
        gap: 12px;
    }

    .WelcomBack .card .row a{
        font-size: 17px;
    }

    .WelcomBack .card .row img{
        width: 39px;
    }

    .courses{
        margin-bottom: 65px;
    }
    .courses h2{
    margin-bottom: 37px;
    font-size: 31px;
    }

    .courses .row {
        column-gap: 30px;
        row-gap: 65px;
    }
    .courses .course{
        width: calc((100% - 90px) / 4);
    }

    .courses .course .course-img{
        padding: 22px 22px 22px 22px;
        margin-bottom: 20px;
        margin-top: 28px;
        width: 70px;
    }

    .courses .course .course-img img{
        width: 30px;
    }

    .courses .course h4{
        font-size: 20px;
        margin-bottom: 22px;
        text-align: center;
    }

    .courses .course p{
        font-size: 12px;
        margin: 0 30px 40px 30px;
    }
}

/* 1191px->1550px */
@media screen and (min-width:1191px) and (max-width:1550px) {
    .container{
        width: calc(100% - 250px);
    }

    header{
        padding-top:32px;
        padding-bottom:30px;
    }

    header nav{
        width: 700px;
        gap: 72px;
    }

    header nav a{
        font-size: 21px;
    }

    .WelcomBack .welcom{
        margin: 52px 96px 50px 24px;
    }

    .WelcomBack .welcom h2{
        font-size: 35px;
    }

    .WelcomBack .cards{
        margin: 0 60px 120px;
    }

    .WelcomBack .cards .row{
        gap: 32px;
    }

    .WelcomBack .card{
        width: calc((100% - px) / 3);
        padding: 20px;
    }

    .WelcomBack .card h4{
        font-size: 21px;
    }

    .WelcomBack .card .row{
        gap: 10.5px;
    }

    .WelcomBack .card .row a{
        font-size: 17px;
    }

    .WelcomBack .card .row img{
        width: 43px;
    }

    .courses{
        margin-bottom: 95px;
    }
    .courses h2{
        margin-bottom: 53px;
        font-size: 36px;
        font-weight: 600;
        color:#252641;
    }

    .courses .row {
        column-gap: 4%;
        row-gap: 80px;
    }
    .courses .course{
        width: 21%;
        border-radius: 20px;
        box-shadow: 0px 18.83px 47.08px 0px rgba(47, 50, 125, 0.1);
        text-align: center;
        background-color: #FFFFFF;
    }

    .courses .course .course-img{
        padding: 27px 33.03px 28px 33.03px;
        margin-bottom: 20px;
        margin-top: 30px;
        width: 99.08px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }

    .courses .course h4{
        font-size: 30px;
        margin-bottom: 25px;
        font-weight: 600;
        color:#000000;
    }

    .courses .course p{
        font-size: 18px;
        width:78%;
        color:#696984;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;
    }
}





    
